/* Resets */
html,body,div,object,iframe,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,progress{margin:0;padding:0;border:0;vertical-align:baseline}
a{text-decoration:none;-webkit-touch-callout:none;background-color:transparent}
li{list-style:none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a:active,a:hover{outline:0}
b,strong{font-weight:bold}
img{border:0;-webkit-touch-callout:none;}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
a,button,input,optgroup,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;-webkit-appearance:none;outline:none;line-height:normal}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal;border: 0;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
html{height: 100%;}
body{overflow-x: hidden;background-color: #fbf9fe;height: 100%;-webkit-tap-highlight-color: transparent;overflow: hidden;}

.viewport-cw{height: 100%;overflow-y: auto;-webkit-overflow-scrolling: touch;}
.scroll-box-cw{position: absolute;left: 0;top: 0;width: 100%;}
.transition{transition: all ease .3s;-webkit-transition: all ease .3s;}
.cover-layer-cw{display: none;position: absolute;top:0; width: 100%;height: 100%;background-color:#000;opacity: 0.5; z-index: 10000;}

.page-title{text-align: center;font-size: 34px;color: #3cc51f;font-weight: 400;margin: 0 15%;font-weight: bold;}
.hd{padding: 2em 0;}

.user-avatar{display: inline-block; text-align: center; background-color:#eee;border-radius: 50%;overflow: hidden;}
.user-avatar img{width: 100%;height: 100%;}

.index-cw .user-avatar{width: 100px;height: 100px;line-height: 100px;}
.index-cw .user-avatar b{font-size: 48px;color: #666;}

.index-cw{padding: 5rem 15px 0;}
.index-cw .weui_msg_desc{margin-top: 1rem; margin-bottom: 2rem;}
.page_title{text-align: center;font-size: 34px;color: #3cc51f;font-weight: 400;margin: 0 15%;}

.time-cw{width: 100%; height: 2.6rem;line-height: 2.6rem; text-align: center;}
.time-cw .txt{display: inline-block;height: 2.6rem;line-height: 2.6rem;margin-left: .5rem;margin-right: 1rem; font-size: 1rem; font-weight: bold;color: #888;vertical-align: middle;}
.time-cw .num{font-size: 2.6rem;color: #10AEFF;}

.waiting-cw .time-cw{margin-top: 3rem;margin-bottom: 1rem;}
.waiting-cw .weui_btn_area{margin-top: 4rem;}

.washing-cw .weui_icon_area{margin-bottom: 3rem;}
.washing-cw .page_title{color: #888;font-weight: bold;}
.washing-cw .page_title:after{content: "";display: inline-block; animation: dotdot 2s;animation-iteration-count: infinite;}

.record-list-cw{padding-bottom: 6rem;}
.record-list-cw .record-item{background-color: #fff;}
.record-list-cw h2{font-weight: normal;}
.record-list-cw h2 em{float: right;display: block; font-style: normal;color: #F76260;}
.record-list-cw .finished{color: #FFBE00;}
.record-list-cw .min-pic{height: 50px;overflow: hidden;}
.record-list-cw .pic{float: left; display: inline-block; width: 18%;height: 50px;margin:0 1%; background-color: #f0f0f0;text-align: center;}
.record-list-cw .pic img{ height: 100%; }
.record-list-cw .brief{padding: .8rem 1rem .6rem; font-size: .9rem;color: #868394;}

.back-btn-box{position: fixed;left: 0;bottom: 0;width: 100%; padding: 0.8rem 0 1.4rem; background-color:#fbf9fe;text-align: center;}
.back-btn-box .weui_btn_area{margin: 0 15px;}
.back-btn-box .lef-btn{display: inline-block; width: 40%;padding-right: 6%;}
.back-btn-box .rig-btn{display: inline-block; width: 40%;}

.weui_cells_form .weui_cell_hd {
    padding-right: 1em;
}

.area-choose-cw{position: absolute;left: 0;bottom: -22rem;width: 100%;height: 22rem; background-color: #fff;overflow: hidden;z-index: 20000;transition: all ease .3s;-webkit-transition: all ease .3s;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);}
.area-choose-cw h2{position: relative; height: 2.4rem;line-height: 2.4rem;text-align: center;}
.area-choose-cw h2 span{font-size: 1rem;color:#444;font-weight: normal;}
.area-choose-cw h2 em{position: absolute;top: 0;right: 0;display: inline-block;height: 2.4rem;line-height: 2.4rem;padding-right: 1rem; font-size: .9rem;color: #999;font-style: normal;font-weight: normal;}
.area-choose-cw .tab{position: relative; height: 2.4rem;line-height: 2.4rem;border-top: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9; }
.area-choose-cw .tab span{display: inline-block;width: 25%;font-size: .9rem;color: #868394;text-align: center;}
.area-choose-cw .tab .sel{color: #f46054;}
.area-choose-cw .tab .line{position: absolute;bottom: -1;left: 0;height: 1px; width:25%;background-color:#f46054;transition: all ease .3s;-webkit-transition: all ease .3s; }
.area-choose-cw .choose-2.sel+.line{left: 25%;}
.area-choose-cw .list{padding-top: 1rem;height: 15.6rem;overflow-y:scroll;}
.area-choose-cw .list li{height: 2rem;padding-left: 1.2rem;line-height: 2rem;}
.area-choose-cw .list li:active{background-color: #fbf9fe;}
.area-choose-cw .list span{font-size: .9rem;color:#868394;}
.area-choose-cw .list .sel span{color:#f46054; }

.persona-cw{min-height: 568px;}
.persona-cw .hd{text-align: center;padding-bottom: 0;}
.persona-cw .user-avatar{width: 70px;height: 70px;margin-top: 1rem; line-height: 70px;}
.persona-cw .user-avatar b{font-size: 28px;color: #666;}
.persona-cw .weui_btn_area{margin-top: 4rem;}

@keyframes dotdot
{	
0% {content: "";}
25% {content: ".";}
50% {content: "..";}
75% {content: "...";}
100% {content: "";}
}